{% ckan_extends %}

{% block links %}
    {{ super() }}
    {% block googleanalytics_header %}
        {{ h.googleanalytics_header() }}
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% block googleanalytics_event_tracking %}
        {% set type = 'asset' if h.ckan_version().split('.')[1] | int >= 9 else 'resource' %}
        {% include 'googleanalytics/snippets/event_tracking_' ~ type ~ '.html' %}
        <div class="js-hide" data-module="google-analytics"
             data-module-googleanalytics_resource_prefix="{{ h.googleanalytics_resource_prefix() }}">
        </div>
    {% endblock %}
{% endblock %}
