<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Google analytics for CKAN</py:def>

  <div py:match="content">

      <h3>Most visited packages in last 14 days:</h3> 
       <ul>
        <py:for each="package, count in c.top_packages">
	  <li>${count}: ${h.link_to(package.title or package.name, h.url_for(controller='package', action='read', id=package.name))}
	  </li>
        </py:for>
       </ul>

  </div>

  <xi:include href="layout.html" />
</html>



